
h1 {
    color:white;
    display:flex;
    justify-content:center;

}
.box {
    border : 2px solid black;
    max-width: 100%;
    height: 410px;  
    display:flex;
    justify-content:space-around;  
    align-items: center; 
}


ol {
    text-decoration: none;
    color:white;   
}


li {

    border:solid 2px black;
    padding:10px;
    background-color: hsl(270, 97%, 30%);
    list-style:none;  
}

p {
    margin:0px;
    color:white;
    width: 45px;
    text-align: start;   
}



